body {
    background: #ddd;
    margin-top: 10px;
}

.chat-box {
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow: hidden
}

.chats {
    padding: 30px 15px
}

.chat-avatar {
    float: right
}

.chat-avatar .avatar {
    width: 30px -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.chat-body {
    display: block;
    margin: 10px 30px 0 0;
    overflow: hidden
}

.chat-body:first-child {
    margin-top: 0
}

.chat-content {
    position: relative;
    display: block;
    float: right;
    padding: 8px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #62a8ea;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.chat-content:before {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-left-color: #62a8ea
}

.chat-content>p:last-child {
    margin-bottom: 0
}

.chat-content+.chat-content:before {
    border-color: transparent
}

.chat-time {
    display: block;
    margin-top: 8px;
    color: rgba(255, 255, 255, .6)
}

.chat-left .chat-avatar {
    float: left
}

.chat-left .chat-body {
    margin-right: 0;
    margin-left: 30px
}

.chat-left .chat-content {
    float: left;
    margin: 0 0 10px 20px;
    color: #76838f;
    background-color: #dfe9ef
}

.chat-left .chat-content:before {
    right: auto;
    left: -10px;
    border-right-color: #dfe9ef;
    border-left-color: transparent
}

.chat-left .chat-content+.chat-content:before {
    border-color: transparent
}

.chat-left .chat-time {
    color: #a3afb7
}

.panel-footer {
    padding: 0 30px 15px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px;
}

.chat-avatar .avatar {
    width: 30px;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
}

body {
    margin-top: 20px;
}

.footer .footer-socila-icon a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F84E77;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 15px;
}

.footer .footer-socila-icon a:hover {
    background: #1baaa0;
}

.footer .footer-links {
    margin: 0;
}

.footer .footer-links li+li {
    padding-top: 10px;
}

.footer .footer-links li a {
    position: relative;
}

.footer .footer-links li a:after {
    content: "";
    position: absolute;
    width: 0px;
    left: auto;
    right: 0;
    bottom: 0;
    height: 1px;
    transition: ease all 0.35s;
    background: #F84E77;
}

.footer .footer-links li a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.footer .footer-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer .footer-top h5,
.footer .footer-top .h5 {
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .footer .footer-top {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .footer .footer-top {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

.footer .footer-border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-top.dark {
    border-top: 1px solid rgba(16, 16, 16, 0.1);
}

.footer .footer-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-bottom.dark {
    border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.bg-dark-gradient {
    background: linear-gradient( 180deg, #101010 50%, black 100%) repeat-x !important;
}

.white-link a {
    color: rgba(255, 255, 255, 0.65);
}

a {
    text-decoration: none
}

.avatar-lg img {
    width: 90px;
    height: 90px;
}

body {
    background-color: #f4f7f6;
    margin-top: 20px;
}

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

body {
    margin-top: 20px;
    background: #eee;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Open Sans', sans-serif;
}

.chat_box .chat_message_wrapper ul.chat_message>li+li {
    margin-top: 4px;
}

.popup-box-on {
    display: block !important;
}

a:focus {
    outline: none;
    outline-offset: 0px;
}

.popup-head-left.pull-left h1 {
    color: #fff;
    float: left;
    font-family: oswald;
    font-size: 18px;
    margin: 2px 0 0 5px;
}

.popup-head-left a small {
    display: table;
    font-size: 11px;
    color: #fff;
    line-height: 4px;
    opacity: 0.5;
    padding: 0 0 0 7px;
}

.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 7px;
    font-size: 15px;
    height: 26px;
    opacity: 0.9;
    padding: 0;
    text-align: center;
    width: 26px;
}

.popup-head-right {
    margin: 9px 0 0;
}

.popup-head .btn-group {
    margin: -5px 3px 0 -1px;
}

.gurdeepoushan .dropdown-menu {
    padding: 6px;
}

.gurdeepoushan .dropdown-menu li a span {
    border: 1px solid;
    border-radius: 50px;
    display: list-item;
    font-size: 19px;
    height: 40px;
    line-height: 36px;
    margin: auto;
    text-align: center;
    width: 40px;
}

.gurdeepoushan .dropdown-menu li {
    float: left;
    text-align: center;
    width: 33%;
}

.gurdeepoushan .dropdown-menu li a {
    border-radius: 7px;
    font-family: oswald;
    padding: 3px;
    transition: all 0.3s ease-in-out 0s;
}

.gurdeepoushan .dropdown-menu li a:hover {
    background: #304445 none repeat scroll 0 0 !important;
    color: #fff;
}

.popup-head {
    background: #304445 none repeat scroll 0 0 !important;
    border-bottom: 3px solid #ccc;
    color: #fff;
    display: table;
    width: 100%;
    padding: 8px;
}

.popup-head .md-user-image {
    border: 2px solid #5a7172;
    border-radius: 12px;
    float: left;
    width: 44px;
}

.uk-input-group-addon .glyphicon.glyphicon-send {
    color: #ffffff;
    font-size: 21px;
    line-height: 36px;
    padding: 0 6px;
}

.chat_box_wrapper.chat_box_small.chat_box_active {
    height: 342px;
    overflow-y: scroll;
    width: 316px;
}

aside {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("https://z-1-scontent-cdg2-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12670232_624826600991767_3547881030871377118_n.jpg?oh=b4541268dfcdc6c8b2758066dba9c0c7&oe=572DDCE7");
    background-origin: padding-box;
    background-position: center top;
    background-repeat: repeat;
    border: 1px solid #304445;
    bottom: 0;
    display: none;
    height: 466px;
    position: fixed;
    right: 70px;
    width: 318px;
    font-family: 'Open Sans', sans-serif;
}

.chat_box {
    padding: 16px;
}

.chat_box .chat_message_wrapper::after {
    clear: both;
}

.chat_box .chat_message_wrapper::after,
.chat_box .chat_message_wrapper::before {
    content: " ";
    display: table;
}

.chat_box .chat_message_wrapper .chat_user_avatar {
    float: left;
}

.chat_box .chat_message_wrapper {
    margin-bottom: 32px;
}

.md-user-image {
    border-radius: 50%;
    width: 34px;
}

img {
    border: 0 none;
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.chat_box .chat_message_wrapper ul.chat_message,
.chat_box .chat_message_wrapper ul.chat_message>li {
    list-style: outside none none;
    padding: 0;
}

.chat_box .chat_message_wrapper ul.chat_message {
    float: left;
    margin: 0 0 0 20px;
    max-width: 77%;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message>li:first-child::before {
    border-right-color: #616161;
}

.chat_box .chat_message_wrapper ul.chat_message>li:first-child::before {
    border-color: transparent #ededed transparent transparent;
    border-style: solid;
    border-width: 0 16px 16px 0;
    content: "";
    height: 0;
    left: -14px;
    position: absolute;
    top: 0;
    width: 0;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message>li {
    background: #FCFBF6 none repeat scroll 0 0;
    color: #000000;
}

.open-btn {
    border: 2px solid #189d0e;
    border-radius: 32px;
    color: #189d0e !important;
    display: inline-block;
    margin: 10px 0 0;
    padding: 9px 16px;
    text-decoration: none !important;
    text-transform: uppercase;
}

.chat_box .chat_message_wrapper ul.chat_message>li {
    background: #ededed none repeat scroll 0 0;
    border-radius: 4px;
    clear: both;
    color: #212121;
    display: block;
    float: left;
    font-size: 13px;
    padding: 8px 16px;
    position: relative;
    word-break: break-all;
}

.chat_box .chat_message_wrapper ul.chat_message,
.chat_box .chat_message_wrapper ul.chat_message>li {
    list-style: outside none none;
    padding: 0;
}

.chat_box .chat_message_wrapper ul.chat_message>li {
    margin: 0;
}

.chat_box .chat_message_wrapper ul.chat_message>li p {
    margin: 0;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message>li .chat_message_time {
    color: rgba(185, 186, 180, 0.9);
}

.chat_box .chat_message_wrapper ul.chat_message>li .chat_message_time {
    color: #727272;
    display: block;
    font-size: 11px;
    padding-top: 2px;
    text-transform: uppercase;
}

.chat_box .chat_message_wrapper.chat_message_right .chat_user_avatar {
    float: right;
}

.chat_box .chat_message_wrapper.chat_message_right ul.chat_message {
    float: right;
    margin-left: 0 !important;
    margin-right: 24px !important;
}

.chat_box.chat_box_colors_a .chat_message_wrapper.chat_message_right ul.chat_message>li:first-child::before {
    border-left-color: #E8FFD4;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message>li:first-child::before {
    border-right-color: #FCFBF6;
}

.chat_box .chat_message_wrapper.chat_message_right ul.chat_message>li:first-child::before {
    border-color: transparent transparent transparent #ededed;
    border-width: 0 0 29px 29px;
    left: auto;
    right: -14px;
}

.chat_box .chat_message_wrapper ul.chat_message>li:first-child::before {
    border-color: transparent #ededed transparent transparent;
    border-style: solid;
    border-width: 0 29px 29px 0;
    content: "";
    height: 0;
    left: -14px;
    position: absolute;
    top: 0;
    width: 0;
}

.chat_box.chat_box_colors_a .chat_message_wrapper.chat_message_right ul.chat_message>li {
    background: #E8FFD4 none repeat scroll 0 0;
}

.chat_box .chat_message_wrapper ul.chat_message>li {
    background: #ededed none repeat scroll 0 0;
    border-radius: 12px;
    clear: both;
    color: #212121;
    display: block;
    float: left;
    font-size: 13px;
    padding: 8px 16px;
    position: relative;
}

.gurdeep-chat-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    padding: 3px;
}

#submit_message {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    padding: 4px;
}

.gurdeep-chat-box i {
    color: #333;
    font-size: 21px;
    line-height: 1px;
}

.chat_submit_box {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.uk-input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}

body {
    margin-top: 20px;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.flex-grow-0 {
    flex-grow: 0!important;
}

.border-top {
    border-top: 1px solid #dee2e6!important;
}